:root {
    --alkali:           #ffb3b3;
    --alkaline-earth:   #ffd9b3;
    --transition:       #c2f0f0;
    --post-transition:  #d6ccff;
    --metalloid:        #d9ead3;
    --nonmetal:         #ffffb3;
    --noble-gas:        #cce0ff;
    --lanthanide:       #f9c0ff;
    --actinide:         #f4cccc;
    --unknown:          #e0e0e0;
  }

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, minmax(60px, 1fr));
    grid-auto-rows: 80px;
    gap: 4px;
}

 
.element {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.element.col-3::after {
    content: "";
    display: block;
    position: absolute;
    right: -10px; /* Pushes outside the element */
    top: 0;
    height: 100%;
    width: 20px;
  }

.atomic-number {
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 12px;
    color: #333;
}

.symbol {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}

.name {
    font-size: 10px;
    color: #666;
}
  
.group-alkali           { background-color: var(--alkali); }
.group-alkaline-earth   { background-color: var(--alkaline-earth); }
.group-transition       { background-color: var(--transition); }
.group-post-transition  { background-color: var(--post-transition); }
.group-metalloid        { background-color: var(--metalloid); }
.group-nonmetal         { background-color: var(--nonmetal); }
.group-noble-gas        { background-color: var(--noble-gas); }
.group-lanthanide       { background-color: var(--lanthanide); }
.group-actinide         { background-color: var(--actinide); }
.group-unknown          { background-color: var(--unknown); }